@model IEnumerable<MvcMovie.Models.DirectorViewModel>

@{ ViewBag.Title = "Réalisateurs"; }

<h1>@ViewBag.Title</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                <a asp-action="Create">Créer</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        <a asp-action="Edit" asp-route-id="@item.Director_ID">Modifier</a> |
        <a asp-action="Details" asp-route-id="@item.Director_ID">Consulter</a> |
        <a asp-action="Delete" asp-route-id="@item.Director_ID">Supprimer</a>
    </td>
</tr>}
    </tbody>
</table>
